
{% load crispy_forms_tags %}
{% block main %}
<div class="text-xl text-center mt-5 mb-5 font-extrabold">ลืมรหัสผ่านzzzz</div>

<div class="m-2">
<form class="max-w-sm mx-auto" method="post" enctype="multipart/form-data">

    {% csrf_token %}

    {{ form }}
    
    <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">รีเซ็ตรหัสผ่าน</button>
</form>
</div>
{% endblock %}