{% extends "base.html" %}
{% block content %}
<h1 class="text-3xl font-bold text-center mt-36">รายการเอกสาร</h1>

<div class="mb-4 border-b border-gray-200 dark:border-gray-700 mx-10">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-styled-tab"
        data-tabs-toggle="#default-styled-tab-content"
        data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500"
        data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300"
        role="tablist">
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg focus:bg-transparent focus:outline-none"
                id="profile-styled-tab" data-tabs-target="#styled-profile" type="button" role="tab"
                aria-controls="profile" aria-selected="false">รออนุมัติ</button>
            <span class="badge badge-primary mx-2">{{ pending_documents.count }}</span>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg focus:bg-transparent focus:outline-none"
                id="dashboard-styled-tab" data-tabs-target="#styled-dashboard" type="button" role="tab"
                aria-controls="dashboard" aria-selected="false">อนุมัติแล้ว</button>
        </li>
        <li class="me-2" role="presentation">
            <button
                class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 focus:bg-transparent focus:outline-none"
                id="settings-styled-tab" data-tabs-target="#styled-settings" type="button" role="tab"
                aria-controls="settings" aria-selected="false">ปฏิเสธ</button>
        </li>
    </ul>
</div>

<div id="default-styled-tab-content">
    <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800 mx-10" id="styled-profile" role="tabpanel"
        aria-labelledby="profile-tab">
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="py-2 px-4 border-b">#</th>
                        <th class="py-2 px-4 border-b">ชื่อผู้ขับ</th>
                        <th class="py-2 px-4 border-b">เอกสาร</th>
                        <th class="py-2 px-4 border-b">วันที่ส่ง</th>
                        <th class="py-2 px-4 border-b">สถานะ</th>
                        <th class="py-2 px-4 border-b">ดำเนินการ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for document in pending_documents %}
                    <tr class="bg-gray border-b">
                        <th scope="row" class="px-4 py-2 text-center font-medium text-gray-900">{{ forloop.counter }}</th>
                        <td class="px-5 py-4 text-center">{{ document.driver.username }}</td>
                        <td class="px-5 py-4 text-center">
                            <a href="{{ document.id_card.url }}">บัตรประชาชน</a>,
                            <a href="{{ document.driving_license.url }}">ใบอนุญาตขับขี่</a>,
                            <a href="{{ document.vehicle_registration.url }}">ทะเบียนรถ</a>,
                            <a href="{{ document.photo.url }}">รูปถ่าย</a>
                        </td>
                        <td class="px-5 py-4 text-center">{{ document.submitted_at }}</td>
                        <td class="px-5 py-4 text-center">{{ document.get_status_display }}</td>
                        <td class="px-5 py-4 text-center">
                            <form method="post" action="{% url 'approve_document' document.id %}">
                                {% csrf_token %}
                                <button type="submit" class="bg-green-500 hover:bg-green-700 font-bold py-2 px-4 rounded">อนุมัติ</button>
                            </form>
                            <form method="post" action="{% url 'reject_document' document.id %}">
                                {% csrf_token %}
                                <input type="text" name="reason" placeholder="เหตุผล" required class="w-36 mb-2">
                                <button type="submit" class="bg-red-500 hover:bg-red-700 font-bold py-2 px-4 rounded">ปฏิเสธ</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800 mx-10" id="styled-dashboard" role="tabpanel"
        aria-labelledby="dashboard-tab">
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white text-sm">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="py-2 px-4 border-b">#</th>
                        <th class="py-2 px-4 border-b">ชื่อผู้ขับ</th>
                        <th class="py-2 px-4 border-b">เอกสาร</th>
                        <th class="py-2 px-4 border-b">วันที่ส่ง</th>
                        <th class="py-2 px-4 border-b">สถานะ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for document in approved_documents %}
                    <tr class="bg-gray border-b">
                        <th scope="row" class="px-4 py-2 text-center font-medium text-gray-900">{{ forloop.counter }}</th>
                        <td class="px-5 py-4 text-center">{{ document.driver.username }}</td>
                        <td class="px-5 py-4 text-center">
                            <a href="{{ document.id_card.url }}">บัตรประชาชน</a>,
                            <a href="{{ document.driving_license.url }}">ใบอนุญาตขับขี่</a>,
                            <a href="{{ document.vehicle_registration.url }}">ทะเบียนรถ</a>,
                            <a href="{{ document.photo.url }}">รูปถ่าย</a>
                        </td>
                        <td class="px-5 py-4 text-center">{{ document.submitted_at }}</td>
                        <td class="text-green-500 font-bold text-center">{{ document.get_status_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800 mx-10" id="styled-settings" role="tabpanel"
        aria-labelledby="settings-tab">
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white text-sm">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="py-2 px-4 border-b">#</th>
                        <th class="py-2 px-4 border-b">ชื่อผู้ขับ</th>
                        <th class="py-2 px-4 border-b">เอกสาร</th>
                        <th class="py-2 px-4 border-b">วันที่ส่ง</th>
                        <th class="text-red-500 font-bold text-center">สถานะ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for document in rejected_documents %}
                    <tr class="bg-gray border-b">
                        <th scope="row" class="px-4 py-2 text-center font-medium text-gray-900">{{ forloop.counter }}</th>
                        <td class="px-5 py-4 text-center">{{ document.driver.username }}</td>
                        <td class="px-5 py-4 text-center">
                            <a href="{{ document.id_card.url }}">บัตรประชาชน</a>,
                            <a href="{{ document.driving_license.url }}">ใบอนุญาตขับขี่</a>,
                            <a href="{{ document.vehicle_registration.url }}">ทะเบียนรถ</a>,
                            <a href="{{ document.photo.url }}">รูปถ่าย</a>
                        </td>
                        <td class="px-5 py-4 text-center">{{ document.submitted_at }}</td>
                        <td class="text-red-500 font-bold text-center">{{ document.get_status_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
