{% extends "base.html" %}

{% block content %}
<div class="container mx-auto mt-24">
    <h1 class="text-4xl font-bold text-center text-gray-800 mb-10">รายชื่อ{{ user_type_name }}</h1>

    <div class="overflow-x-auto shadow-lg rounded-lg mx-10">
        <table class="min-w-full bg-white text-sm">
            <thead class="bg-gray-100 border-b-2 border-gray-300">
                <tr>
                    <th class="py-3 px-6 text-center font-medium text-gray-600 uppercase tracking-wider">ลำดับ</th>
                    <th class="py-3 px-6 text-center font-medium text-gray-600 uppercase tracking-wider">ชื่อผู้ใช้</th>
                    <th class="py-3 px-6 text-center font-medium text-gray-600 uppercase tracking-wider">ชื่อ-สกุล</th>
                    <th class="py-3 px-6 text-center font-medium text-gray-600 uppercase tracking-wider">อีเมล</th>
                    <th class="py-3 px-6 text-center font-medium text-gray-600 uppercase tracking-wider">เบอร์โทร</th>
                    <th class="py-3 px-6 text-center font-medium text-gray-600 uppercase tracking-wider">ที่อยู่</th>
                    <th class="py-3 px-6 text-center font-medium text-gray-600 uppercase tracking-wider">ดำเนินการ</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">

                {% for user in users %}
                <tr class="hover:bg-gray-50">
                    <td class="py-4 px-6 text-center font-medium text-gray-800">{{ forloop.counter }}</td>
                    <td class="py-4 px-6 text-center">{{ user.username }}</td>
                    <td class="py-4 px-6 text-center">{{ user.first_name }} {{ user.last_name }}</td>
                    <td class="py-4 px-6 text-center">{{ user.email }}</td>
                    <td class="py-4 px-6 text-center">{{ user.phone }}</td>
                    <td class="py-4 px-6 text-center">{{ user.address }}</td>
                    <td class="py-4 px-6 text-center space-y-2">
                        <form method="post" action="{% url 'delete_user' user.id %}" class="inline-block">
                            {% csrf_token %}
                            <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">ลบผู้ใช้</button>
                        </form>
                        {% if user.user_type == 'driver' %}
                        <a href="{% url 'view_driver_document' user.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">ดูเอกสาร</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}
