







        <!-- driver/booking_driverlist.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <title>Document</title>
</head>
<body>
    

<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-styled-tab" data-tabs-toggle="#default-styled-tab-content" data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500" data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300" role="tablist">
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-styled-tab" data-tabs-target="#styled-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Pending</button><span class="badge badge-primary mx-2">{{no_of_pending_request}}</span>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-styled-tab" data-tabs-target="#styled-dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Accepted</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-styled-tab" data-tabs-target="#styled-settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Declined</button>
        </li>

    </ul>
</div>
<!-- Pending -->
<div id="default-styled-tab-content">
    <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-profile" role="tabpanel" aria-labelledby="profile-tab">
        <table class="min-w-full bg-white">
            <thead class="bg-gray-100">
                <tr>
                    <th class="py-2 px-4 border-b">#</th>
                    <th class="py-2 px-4 border-b">ชื่อผู้จอง</th>
                    <th class="py-2 px-4 border-b">ประเภทรถ</th>
                    <th class="py-2 px-4 border-b">จำนวนไร่</th>
                    <th class="py-2 px-4 border-b">ที่อยู่</th>
                    <th class="py-2 px-4 border-b">รายละเอียด</th>
                    <th class="py-2 px-4 border-b">เบอร์โทร</th> 
                    <th class="py-2 px-4 border-b">สถานะคำขอ</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}  {% if rv.request_status == "Pending" %}
                <tr class="bg-gray border-b">
                    <th scope="row" class="px-4 py-2 tex-center font-medium text-gray-900">{{forloop.counter}}</th>
                    <td class="px-5 py-4 text-center">{{booking.fullname}}</td>
                    <td class="px-5 py-4 text-center">{{booking.vehicle.type}}</td>
                    <td class="px-5 py-4 text-center">{{booking.quantity}}</td>
                    <td class="px-5 py-4 text-center">{{booking.address}}</td>
                    <td class="px-5 py-4 text-center">{{booking.details}}</td>
                    <td class="px-5 py-4 text-center">{{booking.phone}}</td>
                    <td class="px-5 py-4 text-center">
                        <a class="bg-green-500 hover:bg-green-700  font-bold py-2 px-4 rounded" href="/RentVehicle/AcceptRequest?id={{booking.id}}">Accept</a>
                        <a class="bg-red-500 hover:bg-red-700  font-bold py-2 px-4 rounded " href="/RentVehicle/DeclineRequest?id={{bookink.id}}">Decline</a>
                    </td>
                </tr>
                {%endif%} {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Accepted -->
    <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
        <table class="min-w-full bg-white text-sm">
            <thead class="bg-gray-100">
                    <th class="py-2 px-4 border-b">#</th>
                    <th class="py-2 px-4 border-b">ชื่อผู้จอง</th>
                    <th class="py-2 px-4 border-b">ประเภทรถ</th>
                    <th class="py-2 px-4 border-b">จำนวนไร่</th>
                    <th class="py-2 px-4 border-b">ที่อยู่</th>
                    <th class="py-2 px-4 border-b">รายละเอียด</th>
                    <th class="py-2 px-4 border-b">เบอร์โทร</th>
                    <th class="py-2 px-4 border-b">เวลานัดหมาย</th>
                    <th class="py-2 px-4 border-b">อนุมัติโดย</th>
                    <th class="py-2 px-4 border-b">สถานะคำขอ</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %} {%if booking.request_status == "Accepted"%}
                <tr>
                    <th scope="row" class="px-4 py-2 text-center font-medium text-gray-900">{{forloop.counter}}</th>
                    <td class="px-5 py-4 text-center">{{booking.fullname}}</td>
                    <td class="px-5 py-4 text-center">{{booking.vehicle.type}}</td>
                    <td class="px-5 py-4 text-center">{{booking.quantity}}</td>
                    <td class="px-5 py-4 text-center">{{booking.address}}</td>
                    <td class="px-5 py-4 text-center">{{booking.details}}</td>
                    <td class="px-5 py-4 text-center">{{booking.phone}}</td>
                    <td class="px-5 py-4 text-center">{{booking.appointment_date}}</td>
                    <td class="px-5 py-4 text-center">{{booking.request_responded_by}}</td>
                    <td class="text-green-500 font-bold text-center">{{booking.request_status}}</td>

            
                </tr>
                {%endif%} {% endfor %}
            </tbody>
        </table>

    </div>
    <!-- Declined -->
    <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-settings" role="tabpanel" aria-labelledby="settings-tab">
        <table class="min-w-full bg-white text-sm">
            <thead class="bg-gray-100">
                <tr>
                    <th class="py-2 px-4 border-b">#</th>
                    <th class="py-2 px-4 border-b">ชื่อผู้จอง</th>
                    <th class="py-2 px-4 border-b">ประเภทรถ</th>
                    <th class="py-2 px-4 border-b">จำนวนไร่</th>
                    <th class="py-2 px-4 border-b">ที่อยู่</th>
                    <th class="py-2 px-4 border-b">รายละเอียด</th>
                    <th class="py-2 px-4 border-b">เบอร์โทร</th>
                    <th class="py-2 px-4 border-b">เวลาปฏิเสธ</th>
                    <th class="py-2 px-4 border-b">ไม่อนุมัติโดย</th>
                    <th class="py-2 px-4 border-b">สถานะคำขอ</th>
                </tr>
            </thead>
            <tbody>
                {% for bookong in rentvehicle %} {%if booking.request_status == "Declined"%}
                <tr>
                    <th scope="row" class="px-4 py-2 text-center font-medium text-gray-900">{{ forloop.counter}}</th>
                    <td class="px-5 py-4 text-center">{{booking.fullname}}</td>
                    <td class="px-5 py-4 text-center">{{booking.vehicle.type}}</td>
                    <td class="px-5 py-4 text-center">{{booking.quantity}}</td>
                    <td class="px-5 py-4 text-center">{{booking.address}}</td>
                    <td class="px-5 py-4 text-center">{{booking.details}}</td>
                    <td class="px-5 py-4 text-center">{{booking.phone}}</td>
                    <td class="px-5 py-4 text-center">{{booking.appointment_date}}</td>
                    <td class="px-5 py-4 text-center">{{booking.request_responded_by}}</td>
                    <td class="text-red-500 font-bold text-center">{{booking.request_status}}</td>
                </tr>
                {%endif%} {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

</body>
</html>

