<!-- slider_farmer.html -->
{% if user.is_authenticated %}
    <!-- Your additional content here -->
    <aside id="sidebar">
        <div class="h-100">
            <div class="sidebar-logo">
                <a href="{% url 'home_farmer' %}">จองง่าย ได้เกี่ยว</a>
            </div>
            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    แถบเมนู
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'home_farmer' %}" class="sidebar-link">
                        <i class="fa-solid fa-list pe-2"></i>
                        หน้าแรก
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-list pe-2"></i>
                        จองรถเกี่ยวนวดข้าว
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages"
                        aria-expanded="false" aria-controls="pages">
                        <i class="fa-regular fa-file-lines pe-2"></i>
                        ข้อมูลจองรถเกี่ยวนวดข้าว
                    </a>
                    <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{% url 'showbooking' %}" class="sidebar-link">รายการที่จอง</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard"
                        aria-expanded="false" aria-controls="dashboard">
                        <i class="fa-regular fa-user pe-2"></i>
                        ข้อมูลส่วนตัว
                    </a>
                    <ul id="dashboard" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{% url 'profile_update' %}" class="sidebar-link">แก้ไขข้อมูลส่วนตัว</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
    {% endif %}