{% extends "base.html" %}
{% block title %}
เลือกการสมัคร
{% endblock %}

{% block flowbite %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
{% endblock %}
{% block content %}
<body class="bg-white relative">
    <div class="grid justify-items-center mt-[5cm] text-3xl font-bold">


        <div class="card p-4 border border-black rounded-xl bg-white hover:shadow-lg transition duration-300">
            <h1 class="text-center mt-10 text-3xl font-semibold">สมัครสมาชิกเป็นการเกษตรหรือสมัครเป็นคนขับรถ</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 p-5 md:p-10 md:gap-10 gap-5">

                <a href="{% url 'registerfarmer' %}" class="w-full md:w-96 md:h-72 p-4 border border-gray-500 rounded-xl bg-white shadow-xl hover:scale-105 transition duration-300 justify-items-center content-center grid text-2xl">
                    <div class="card-body text-center">
                        <h1 class="card-title">สมาชิกชาวนา</h1>
                        <div class="link-div">
                            (สมัครสมาชิกเป็นชาวนา)
                        </div>
                    </div>
                </a>
                
                <a href="{% url 'registerdriver' %}" class="w-full md:w-96 md:h-72 p-4 border border-gray-500 rounded-xl bg-white shadow-xl hover:scale-105 transition duration-300 justify-items-center content-center grid text-2xl">
                    <div class="card-body text-center">
                        <h1 class="card-title">สมาชิกคนขับรถเกี่ยวนวดข้าว</h1>
                        <div class="link-div">
                            (สมัครเป็นคนขับรถเกี่ยวนวดข้าว)
                        </div>
                    </div>
                </a>
            </div>
            <h4 class="text-center mt-10 mb-5">มีบัญชีอยู่แล้ว? <a href="{% url 'login' %}"class="text-emerald-600">เข้าสู่ระบบ</a></h4>
        </div>
    </div>

    {% endblock %}
