<!-- forgot_password.html -->
{% extends "base.html" %}
{% block title %}
ตั้งรหัสผ่านใหม่
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
<div class="min-h-screen flex items-center justify-center bg-white">
    <div class="bg-white rounded-xl shadow-lg border border-gray-200 w-full max-w-md mx-auto p-3">
        <div class="p-4 sm:p-7">
            <div class="text-center">
                <h1 class="block text-2xl font-semibold text-gray-800">ลืมรหัสผ่าน?</h1>
                <p class="mt-2 text-sm text-gray-600">
                    จำรหัสผ่านของคุณ?
                    <a class="text-emerald-600 text-sm decoration-2 hover:underline font-medium" href="{% url 'login' %}">
                        เข้าสู่ระบบที่นี่
                    </a>
                </p>
            </div>

            <div class="mt-5">
                <form method="post" onsubmit="return validateForm()">
                    {% csrf_token %}
                    <div class="grid gap-y-4">
                        <div>
                            <label for="email" class="block text-sm font-bold ml-1 mb-2">Email address</label>
                            <div class="relative">
                                <input type="email" id="email" name="email" class="py-3 px-4 block w-full border border-gray-200 rounded-md text-sm focus:border-emerald-700 focus:ring-emerald-700 shadow-sm" required aria-describedby="email-error">
                            </div>
                            <p class="hidden text-xs text-red-600 mt-2" id="email-error">โปรดระบุที่อยู่อีเมลที่ถูกต้องเพื่อให้เราติดต่อกลับได้</p>
                        </div>
                        <button type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent  bg-emerald-600 text-white hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-emerald-700 focus:ring-offset-2 transition-all text-sm">รีเซ็ตรหัสผ่าน</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function validateForm() {
        var email = document.getElementById('email').value;
        var error = document.getElementById('email-error');
        var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        if (!emailPattern.test(email)) {
            error.classList.remove('hidden');
            return false;
        } else {
            error.classList.add('hidden');
            return true;
        }
    }
</script>
{% endblock %}

