{% extends "base.html" %}

{% block title %}
    ตั้งค่ารหัสผ่านใหม่สำเร็จ
{% endblock %}

{% block content %}
<div class="min-h-screen flex flex-col justify-center items-center">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
        <h2 class="text-center text-2xl font-bold mb-4">ลิงก์สำหรับตั้งค่ารหัสผ่านใหม่ถูกส่งแล้ว</h2>
        <p class="text-center text-gray-700 mb-6">
            เราได้ส่งอีเมลพร้อมลิงก์สำหรับตั้งค่ารหัสผ่านใหม่ไปยังที่อยู่อีเมลของคุณแล้ว หากคุณไม่เห็นอีเมลในกล่องจดหมาย โปรดตรวจสอบโฟลเดอร์สแปมหรือโฟลเดอร์อื่นๆ
        </p>
        <div class="flex justify-center">
            <a href="{% url 'login' %}" class="bg-emerald-600 text-white py-2 px-4 rounded-md hover:bg-emerald-700 transition duration-300">
                กลับไปยังหน้าล็อกอิน
            </a>
        </div>
    </div>
</div>
{% endblock %}
