{% extends "base.html" %}
{% block title %}
ตั้งค่ารหัสผ่านใหม่
{% endblock %}

{% block flowbite %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <style>
        .alert-hide {
            opacity: 0;
        }
        .alert {
            transition: opacity 0.5s ease-out;
        }
    </style>

    <div class="bg-white min-h-screen flex items-center justify-center">
        <div class="container mx-auto w-96 bg-white rounded-lg shadow-xl p-8 border border-10">
            <header class="text-2xl font-semibold text-center mb-6">ตั้งค่ารหัสผ่านใหม่</header>

            {% if validlink %}
            <form method="post" class="space-y-4">
                {% csrf_token %}
                
                <label for="new_password1" class="block text-emerald-600">รหัสผ่านใหม่:
                    <div class="relative">
                        <input type="password" name="new_password1" id="new_password1" required class="inline-block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-black text-black">
                        <span class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer" onclick="togglePasswordVisibility('new_password1', 'new1_eyeIcon')">
                            <svg id="new1_eyeIcon" class="w-5 h-5 text-gray-500" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.522 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.478 0-8.268-2.943-9.542-7z" />
                            </svg>
                        </span>
                    </div>
                </label>
                {% if form.new_password1.errors %}
                    <p class="text-red-600 text-sm">{{ form.new_password1.errors }}</p>
                {% endif %}

                <label for="new_password2" class="block text-emerald-600">ยืนยันรหัสผ่านใหม่:
                    <div class="relative">
                        <input type="password" name="new_password2" id="new_password2" required class="inline-block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-black text-black">
                        <span class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer" onclick="togglePasswordVisibility('new_password2', 'new2_eyeIcon')">
                            <svg id="new2_eyeIcon" class="w-5 h-5 text-gray-500" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.522 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.478 0-8.268-2.943-9.542-7z" />
                            </svg>
                        </span>
                    </div>
                </label>
                {% if form.new_password2.errors %}
                    <p class="text-red-600 text-sm">{{ form.new_password2.errors }}</p>
                {% endif %}

                <button type="submit" class="block w-full bg-emerald-600 text-white py-2 px-4 rounded-md hover:bg-teal-700 transition duration-300">ตั้งค่ารหัสผ่านใหม่</button>
            </form>

            {% else %}
            <p class="text-center text-red-600 mt-4">ลิงก์สำหรับตั้งค่ารหัสผ่านไม่ถูกต้องหรือหมดอายุ</p>
            <div class="flex justify-center mt-4">
                <a href="{% url 'password_reset' %}" class="bg-emerald-600 text-white py-2 px-4 rounded-md hover:bg-emerald-700 transition duration-300">ขอรีเซ็ตรหัสผ่านใหม่อีกครั้ง</a>
            </div>
            {% endif %}

            <div class="text-center mt-4">
                <span class="text-black-600">ย้อนกลับไปยัง <a href="{% url 'login' %}" class="font-semibold hover:underline text-emerald-600">หน้าแรก</a></span>
            </div>
        </div>
    </div>

    <script>
        function togglePasswordVisibility(inputId, iconId) {
            const passwordInput = document.getElementById(inputId);
            const eyeIcon = document.getElementById(iconId);
            const isPasswordVisible = passwordInput.type === 'text';

            if (isPasswordVisible) {
                passwordInput.type = 'password';
                eyeIcon.innerHTML = `
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.522 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.478 0-8.268-2.943-9.542-7z" />
                `;
            } else {
                passwordInput.type = 'text';
                eyeIcon.innerHTML = `
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7 1.017-3.236 3.54-5.732 6.542-6.607m5.958 0C16.478 6.732 19 9.228 20.542 13c-.949 2.857-2.957 5.131-5.542 6.319M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3l18 18" />
                `;
            }
        }
    </script>
{% endblock %}
