{% extends "base.html" %}
{% block title %}
ตั้งรหัสผ่านใหม่
{% endblock %}

{% load crispy_forms_tags %}
{% block flowbite %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
  <h2>ตั้งรหัสผ่านใหม่</h2>
  {% if form %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">ตั้งรหัสผ่านใหม่</button>
    </form>
  {% else %}
    <p>ไม่สามารถดึงฟอร์มได้ กรุณาลองอีกครั้ง</p>
  {% endif %}
{% endblock %}