<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
<!-- component -->
<section class="container mx-auto p-6 font-mono">
    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
      <div class="w-full overflow-x-auto">
        <table class="w-full">
          <thead>
            <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600 text-center">
                    <th class="text-center py-2 px-4">รูป</th>
                    <th class="text-center py-2 px-4">ชื่อผู้จอง</th>
                    <th class="text-center py-2 px-4">ชื่อคนขับ</th>
                    <th class="text-center py-2 px-4">ประเภทรถ</th>
                    <th class="text-center py-2 px-4">จำนวนไร่</th>
                    <th class="text-center py-2 px-4">ที่อยู่</th>
                    <th class="text-center py-2 px-4">รายละเอียด</th>
                    <th class="text-center py-2 px-4">เบอร์โทร</th>
                    <th class="text-center py-2 px-4">วันที่/เวลา</th>
                    <th class="text-center py-2 px-4">สถานะ</th>
                    {% if  is_driver %}
                    <th class="text-center py-2 px-4">การดำเนินการ</th>
                    {% endif %}

                </tr>
            </thead>
            <tbody class="bg-white">
            {% for booking in bookings %}

                <tr class="text-gray-700">
                  <td class="px-4 py-3 border">
                    <div class="flex items-center text-sm">
                      <div class="relative w-12 h-12 mr-3 rounded-full md:block">
                        <img class="object-cover w-full h-full rounded-full" src="{{ booking.vehicle.image.url }}" alt="Vehicle Image"></td>
                        
                    </div>
                        <td class="text-left py-2 px-4 text-sm border">{{ booking.fullname }}</td>
                        <td class="text-left py-2 px-4 text-sm border">{{ booking.vehicle.driver.first_name }} {{ booking.vehicle.driver.last_name}}</td>
                        <td class="text-left py-2 px-4 text-sm border">{{ booking.vehicle.type }}</td>
                        <td class="text-left py-2 px-4 text-sm border">{{ booking.quantity }}</td>
                        <td class="text-left py-2 px-4 text-sm border">{{ booking.address }}</td>
                        <td class="text-left py-2 px-4 text-sm border">{{ booking.details }}</td>
                        <td class="text-left py-2 px-4 text-sm border">{{ booking.phone }}</td>
                        <td class="text-left py-2 px-4 text-sm border">    
                            {% if booking.appointment_date %}
                                {{ booking.appointment_date }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                        <td class="text-left py-2 px-4 text-sm border">{{ booking.status }}</td>
                        
                        {% if  is_driver %}
                        <td class="text-left py-2 px-4 text-sm border">
                      
                                <form method="post" action="{% url 'booking_approval' booking.id %}">
                                    {% csrf_token %}
                                    <input type="datetime-local" name="appointment_date" required>
                                    <button type="submit" name="action" value="approve" class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded">อนุมัติ</button>
                                    <button type="submit" name="action" value="reject" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">ไม่อนุมัติ</button>
                                </form>
                            {% endif %}
                        </td>
                   
                    {% endfor %}
                </tbody>
        </table>
    </div>
</div>
</body>

</html>





