<!-- booking/booking_detail.html -->

{% extends "base.html" %}
{% load static %}
{% block title %}
รายละเอียดการจอง
{% endblock %}
{% block main %}
<body class="bg-gray-100">
    <div class="container mx-auto px-4 py-12 mt-16">
        <div class="max-w-3xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
            <div class="bg-gradient-to-r from-emerald-600 to-blue-700 text-white text-center py-4 px-6">
                <h1 class="text-3xl font-semibold">รายละเอียดการจอง</h1>
            </div>
            <div class="p-6">
                {% if booking %}
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        <div class="col-span-1">
                            <p class="text-gray-700"><strong>ชื่อผู้จอง:</strong> {{ booking.farmer.fullname }}</p>
                        </div>
                        <div class="col-span-1">
                            <p class="text-gray-700"><strong>ประเภทรถ:</strong> {{ booking.vehicle.type }}</p>
                        </div>
                        <div class="col-span-1">
                            <p class="text-gray-700"><strong>จำนวนไร่:</strong> {{ booking.quantity }}</p>
                        </div>
                        <div class="col-span-1">
                            <p class="text-gray-700"><strong>เบอร์โทร:</strong> {{ booking.phone }}</p>
                        </div>
                        <div class="col-span-2">
                            <p class="text-gray-700"><strong>ที่อยู่:</strong> {{ booking.address }}</p>
                        </div>
                        <div class="col-span-2">
                            <p class="text-gray-700"><strong>รายละเอียด:</strong> {{ booking.details }}</p>
                        </div>
                        <div class="col-span-1">
                            <p class="text-gray-700"><strong>วันที่เริ่มต้น:</strong> {{ booking.appointment_start_date }}</p>
                        </div>
                        <div class="col-span-1">
                            <p class="text-gray-700"><strong>วันที่สิ้นสุด:</strong> {{ booking.appointment_end_date }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        <div class="col-span-2">
                            <p class="text-gray-700"><strong>ชื่อกิจกรรม:</strong> {{ event.title }}</p>
                        </div>
                        <div class="col-span-2">
                            <p class="text-gray-700"><strong>รายละเอียด:</strong> {{ event.details }}</p>
                        </div>
                        <div class="col-span-1">
                            <p class="text-gray-700"><strong>วันเริ่มต้น:</strong> {{ event.start }}</p>
                        </div>
                        <div class="col-span-1">
                            <p class="text-gray-700"><strong>วันสิ้นสุด:</strong> {{ event.end }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="bg-gray-100 text-center py-4">
                <a href="{% url 'driver_dashboard' %}" class="text-emerald-800 hover:text-blue-800 font-semibold">กลับไปที่ตารางงาน</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}
