<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/th.js"></script>
</head>
<body style="font-family: 'K2D', sans-serif;">
    <div class="max-w-sm mx-auto">
        <div class="text-xl text-center font-extrabold mt-5 mb-5 bg-green-200 p-3 rounded-md border border-1 border-gray-400 shadow-lg">
            <i class="fa-solid fa-calendar-days"></i>&nbsp;&nbsp; ตารางรถเกี่ยวนวดข้าว
        </div>
    </div>
    <div class="bg-gray-50 p-4 mx-7 rounded-lg shadow-md border border-gray-500 border-2">
        <div class="container mx-auto max-w-full">
            <div class="flex">
                <!-- Calendar Section -->
                <div id="calendar" class="max-w-screen-md mx-auto p-4 bg-white mt-5 mb-10 rounded-lg shadow-md border border-gray-500 border-2 flex-grow"></div>
                
                <!-- Ongoing Events Section -->
                <div id="ongoing-events" class="w-2/5 ml-4 mt-5 mx-auto">
                    <h3 class="text-xl font-bold mb-4 text-center">กิจกรรมที่กำลังดำเนินการอยู่</h3>
                    <div class="bg-white p-4 rounded-lg shadow-md border border-gray-500 border-2" style="max-height: 350px; overflow-y: auto;">
                        <div id="event-list" class="space-y-2 max-h-[50px] overflow-y-auto">
                            <!-- Event items will be appended here -->
                        </div>
                    </div>
                    <div id="harvest-area" class="bg-white mt-4 p-4 rounded-lg shadow-md border border-gray-500 border-2" style="max-height: 600px; overflow-y: auto;">
                        <div class="flex justify-between items-center mb-1">
                            <h2 class="text-xl font-bold">พื้นที่ลงเก็บเกี่ยว</h2>
                            <button id="toggle-form" class="px-2 py-1 font-bold text-white text-xs bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:ring focus:border-blue-300">เพิ่มกิจกรรม</button>
                        </div>
                        <div class="table-container max-h-64">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead>
                                    <tr>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">วันทำการ</th>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">สถานที่</th>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">รายละเอียด</th>
                                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">การจัดการ</th>
                                    </tr>
                                </thead>
                                <tbody id="service-areas-list" class="bg-white divide-y divide-gray-200">
                                    <!-- Rows will be added dynamically here -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="fixed z-10 inset-0 overflow-y-auto hidden" id="event-modal">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 transition-opacity" aria-hidden="true">
                <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
            </div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div class="inline-block align-bottom bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-md w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4 relative">
                    <div class="absolute top-0 right-0 pt-4 pr-4">
                        <button type="button" class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" id="close-modal">
                            <span class="sr-only">Close</span>
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                                </svg>
                            </button>
                        </div>
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:mt-0 sm:text-left w-full">
                            <h3 class="text-lg leading-6 font-medium text-gray-900 mb-4" id="modal-title">เพิ่มตารางงาน</h3>
                            <form id="event-form">
                                <input type="hidden" id="event-id" name="id">
                                <div class="mb-4">
                                    <label class="block mb-2 text-sm font-medium text-gray-700">ชื่อกิจกรรม :</label>
                                    <input type="text" id="event-title" name="title" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300" required />
                                </div>
                                <div class="mb-4">
                                    <label class="block mb-2 text-sm font-medium text-gray-700">รายละเอียด :</label>
                                    <textarea id="event-details" name="details" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300" required></textarea>
                                </div>
                                <div class="mb-4">
                                    <label class="block mb-2 text-sm font-medium text-gray-700">วันเริ่มต้น :</label>
                                    <input type="text" id="event-start" name="start" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300" required />
                                </div>
                                <div class="mb-6">
                                    <label class="block mb-2 text-sm font-medium text-gray-700">วันสิ้นสุด :</label>
                                    <input type="text" id="event-end" name="end" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300" required />
                                </div>
                                
                                <div class="flex justify-end space-x-2">
                                    <button type="button" id="edit-button" class="px-4 py-2 font-bold text-white bg-yellow-500 rounded-md hover:bg-yellow-700 focus:outline-none focus:ring focus:border-yellow-300 hidden">แก้ไข</button>
                                    <button type="button" id="delete-button" class="px-4 py-2 font-bold text-white bg-red-600 rounded-md hover:bg-red-800 focus:outline-none focus:ring focus:border-red-300 hidden">ลบ</button>
                                    <button type="submit" class="px-4 py-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:ring focus:border-blue-300">ยืนยัน</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal -->

    <div id="data-entry-modal" class="fixed z-10 inset-0 overflow-y-auto hidden">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 transition-opacity" aria-hidden="true">
                <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
            </div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div class="inline-block align-bottom bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg w-full">
                <div class="bg-white px-2 pt-2 pb-2 sm:p-2 sm:pb-2">
                    <div class="max-w-screen-sm mx-auto p-4 bg-white rounded-lg shadow-md border border-gray-500 border-2">
                        <div class="mt-3 text-center sm:mt-0 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900 mb-4 text-center">เพิ่มข้อมูลกิจกรรม</h3>
                            <form id="activity-form" class="space-y-4">
                                <input type="hidden" id="edit-index" />
                                <div class="mb-4">
                                    <label class="block mb-2 text-sm font-medium text-gray-700">วันเริ่มต้น :</label>
                                    <input type="text" id="start-date" name="start-date" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300" required />
                                </div>
                                <div class="mb-4">
                                    <label class="block mb-2 text-sm font-medium text-gray-700">วันสิ้นสุด :</label>
                                    <input type="text" id="end-date" name="end-date" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300" required />
                                </div>
                                <div class="mb-4">
                                    <label for="province" class="block mb-2 text-sm font-medium text-gray-700">จังหวัด :</label>
                                    <select id="province" name="province" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300" required>
                                        <option value="">เลือกจังหวัด</option>
                                        <!-- Provinces will be populated dynamically -->
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label class="block mb-2 text-sm font-medium text-gray-700">อำเภอ :</label>
                                    <select id="district" name="district" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300" required>
                                        <option value="">เลือกอำเภอ</option>
                                        <!-- Districts will be populated dynamically -->
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label class="block mb-2 text-sm font-medium text-gray-700">ตำบล :</label>
                                    <div id="subdistrict-checkboxes" class="border rounded-md p-2"style="max-height: 150px; overflow-y: auto;">
                                        <!-- Subdistrict checkboxes will be populated dynamically -->
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="block mb-2 text-sm font-medium text-gray-700">รายละเอียด :</label>
                                    <textarea id="details" name="details" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300" rows="3"></textarea>
                                </div>
                                <div class="flex justify-between">
                                    <button type="button" id="cancel-button" class="px-4 py-2 font-bold text-white bg-red-500 rounded-md hover:bg-red-700 focus:outline-none focus:ring focus:border-red-300">ยกเลิก</button>
                                    <button type="submit" class="px-4 py-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700 focus:outline-none focus:ring focus:border-blue-300">เพิ่มข้อมูล</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Removed the close button here -->
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#toggle-form').on('click', function () {
        $('#data-entry-modal').removeClass('hidden');
        $('#edit-index').val('');  // Clear the edit index when opening the form to add new entry
    });

    $('#cancel-button').on('click', function () {
        $('#data-entry-modal').addClass('hidden');
        $('#activity-form')[0].reset();
    });

    function updateOngoingEvents() {
        $.ajax({
            url: '/drivers/get_calendar_events/',
            type: 'GET',
            data: {
                driver_id: '{{ user.id }}'
            },
            success: function(events) {
                var currentDate = new Date();  // วันที่ปัจจุบัน
                var eventList = $('#event-list');
                eventList.empty();
                
                // กรองและจัดเรียงกิจกรรมตามวันที่ใกล้ที่สุด
                var ongoingEvents = events.filter(function(event) {
                    return new Date(event.start) >= currentDate;
                }).sort(function(a, b) {
                    return new Date(a.start) - new Date(b.start);
                });
                
                // แสดงผลกิจกรรมที่กำลังดำเนินการอยู่
                ongoingEvents.forEach(function(event, index) {
                    var eventItem = `
                        <div class="p-4 bg-blue-100 rounded-lg shadow-md mb-4 hover:bg-blue-200 transition duration-300 ease-in-out">
                            <h4 class="text-lg font-semibold mb-2"><strong>ลำดับรายการ:</strong> ${index + 1}</h4>
                            <p class="text-xl font-bold mb-1"><strong>หัวข้องาน:</strong> ${event.title}</p>
                            <p class="text-base text-gray-700 mb-2"><strong>รายละเอียด:</strong> ${event.details}</p>
                            <div class="flex items-center justify-between">
                                <p class="text-sm text-gray-600"><strong>เริ่มต้น:</strong> ${new Date(event.start).toLocaleString()}</p>
                                <p class="text-sm text-gray-600"><strong>สิ้นสุด:</strong> ${new Date(event.end).toLocaleString()}</p>
                            </div>
                        </div>
                    `;
                    eventList.append(eventItem);
                });             
            }
        });
    }

    function loadHarvestAreas() {
        $.ajax({
            url: '/drivers/get_harvest_areas/',
            type: 'GET',
            success: function(response) {
                // เรียงลำดับข้อมูลตาม start_date
                response.sort(function(a, b) {
                    return new Date(a.start_date) - new Date(b.start_date);
                });
                response.forEach(function(activity) {
                    addActivityToTable(activity);
                });
            }
        });
    }

    var calendar = new FullCalendar.Calendar(document.getElementById('calendar'), {
        initialView: 'dayGridMonth',
        locale: 'th',
        selectable: true,
        timeZone: 'UTC',
        select: function(info) {
            $('#event-id').val('');
            $('#event-title').val('');
            $('#event-details').val('');
            $('#event-start').val(info.startStr + 'T08:00');
            $('#event-end').val(info.endStr + 'T17:00');
            $('#modal-title').text('Add New Event');
            $('#edit-button').addClass('hidden');
            $('#delete-button').addClass('hidden');
            $('#event-title').prop('disabled', false);
            $('#event-details').prop('disabled', false);
            $('#event-start').prop('disabled', false);
            $('#event-end').prop('disabled', false);
            $('button[type="submit"]').prop('disabled', false);
            $('#event-modal').removeClass('hidden');
        },
        eventClick: function(info) {
            $('#event-id').val(info.event.id);
            $('#event-title').val(info.event.title);
            $('#event-details').val(info.event.extendedProps.details);
            $('#event-start').val(info.event.start.toISOString().slice(0, 16));  // แปลงเวลาที่ดึงมาให้อยู่ในรูปแบบที่ถูกต้อง
            $('#event-end').val(info.event.end ? info.event.end.toISOString().slice(0, 16) : info.event.start.toISOString().slice(0, 16));  // แปลงเวลาที่ดึงมาให้อยู่ในรูปแบบที่ถูกต้อง
            $('#modal-title').text('Edit Event');
            $('#edit-button').removeClass('hidden');
            $('#delete-button').removeClass('hidden');
            $('#event-title').prop('disabled', true);
            $('#event-details').prop('disabled', true);
            $('#event-start').prop('disabled', true);
            $('#event-end').prop('disabled', true);
            $('button[type="submit"]').prop('disabled', true);
            $('#event-modal').removeClass('hidden');
        },
        events: {
            url: '/drivers/get_calendar_events/',
            extraParams: function() {
                return {
                    driver_id: '{{ user.id }}'
                };
            },
            success: function(events) {
                return events.map(function(event) {
                    if (event.farmer_id === '{{ user.id }}') {
                        event.color = 'green';  // สีของงานของตัวเอง
                    } else if (event.driver_id && event.driver_id.toString() === '{{ user.id }}' && !event.farmer_id) {
                        event.color = 'red';  // สีของงานที่คนขับรถเพิ่มเอง
                    } else {
                        event.color = 'blue';  // สีของงานอื่น
                    }
                    return event;
                });
            }
        },
        eventDidMount: function() {
            updateOngoingEvents();
        }
    });

    calendar.render();

    $('#event-form').on('submit', function(e) {
        e.preventDefault();

        var id = $('#event-id').val();
        var title = $('#event-title').val();
        var details = $('#event-details').val();
        var start = $('#event-start').val();
        var end = $('#event-end').val();

        $.ajax({
            url: id ? `/drivers/edit_calendar_event/${id}/` : `/drivers/add_calendar_event/`,
            type: 'POST',
            data: {
                id: id,
                title: title,
                details: details,
                start: start,
                end: end,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.status === 'success') {
                    if (id) {
                        updateBookingDates(id, start, end);
                    }
                    calendar.refetchEvents();
                    $('#event-modal').addClass('hidden');
                    updateOngoingEvents();
                } else {
                    alert(response.message);
                }
            }
        });
    });

    function updateBookingDates(eventId, start, end) {
        $.ajax({
            url: `/drivers/update_booking_dates/${eventId}/`,
            type: 'POST',
            data: {
                start: start,
                end: end,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.status !== 'success') {
                    alert(response.message);
                }
            }
        });
    }

    $('#edit-button').on('click', function() {
        $('#event-title').prop('disabled', false);
        $('#event-details').prop('disabled', false);
        $('#event-start').prop('disabled', false);
        $('#event-end').prop('disabled', false);
        $('button[type="submit"]').prop('disabled', false);
        $(this).addClass('hidden');
    });

    $('#close-modal, #modal-close').on('click', function() {
        $('#event-modal').addClass('hidden');
    });

    $('#delete-button').on('click', function() {
        var id = $('#event-id').val();
        if (id) {
            $.ajax({
                url: `/drivers/delete_calendar_event/${id}/`,
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.status === 'success') {
                        calendar.refetchEvents();
                        $('#event-modal').addClass('hidden');
                        updateOngoingEvents();
                    } else {
                        alert(response.message);
                    }
                }
            });
        }
    });

    function formatDate(dateString) {
        const date = new Date(dateString);
        const day = String(date.getDate()).padStart(2, '0');
        const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-based
        const year = date.getFullYear();
        return `${day}/${month}/${year}`;
    }

    function addActivityToTable(activity) {
        var startDate = formatDate(activity.start_date);
        var endDate = formatDate(activity.end_date);
        var row = `
            <tr data-id="${activity.id}">
                <td class="px-2 py-2 whitespace-nowrap text-sm text-gray-500">${startDate} - ${endDate}</td>
                <td class="px-2 py-2 whitespace-nowrap text-sm text-gray-500 truncate max-w-xs" title="จ.${activity.province}, อ.${activity.district}, ต.${activity.subdistrict}">
                    จ.${activity.province}, อ.${activity.district}, ต.${activity.subdistrict}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 truncate max-w-xs" title="${activity.details}">
                    ${activity.details}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <button class="text-blue-600 hover:text-blue-900 edit-button">แก้ไข</button>
                    <button class="text-red-600 hover:text-red-900 delete-button">ลบ</button>
                </td>
            </tr>
        `;
        $('#service-areas-list').append(row);
    }

    $('#activity-form').on('submit', function (e) {
        e.preventDefault();

        var start = $('#start-date').val();
        var end = $('#end-date').val();
        var province = $('#province option:selected').text();
        var district = $('#district option:selected').text();
        var subdistrict = $('#subdistrict-checkboxes input[name="subdistricts"]:checked').map(function () {
            return $(this).val();
        }).get().join(', ');
        var details = $('#details').val();

        var activity = {
            start_date: start,
            end_date: end,
            province: province,
            district: district,
            subdistrict: subdistrict,
            details: details
        };

        var editIndex = $('#edit-index').val();
        if (editIndex === '') {
            $.ajax({
                url: '/drivers/add_harvest_area/',
                type: 'POST',
                data: JSON.stringify(activity),
                contentType: 'application/json',
                dataType: 'json',
                success: function(response) {
                    if (response.status === 'success') {
                        activity.id = response.id; // Assuming the server sends back the new ID
                        addActivityToTable(activity);
                        $('#data-entry-modal').addClass('hidden');
                        $('#activity-form')[0].reset();
                    } else {
                        alert(response.message); // Show error message
                    }
                }
            });
        } else {
            var row = $('#service-areas-list').children().eq(editIndex);
            var areaId = row.data('id');
            $.ajax({
                url: `/drivers/update_harvest_area/${areaId}/`,
                type: 'POST',
                data: JSON.stringify(activity),
                contentType: 'application/json',
                dataType: 'json',
                success: function(response) {
                    if (response.status === 'success') {
                        row.find('td').eq(0).text(`${start} - ${end}`);
                        row.find('td').eq(1).attr('title', `จ.${province}, อ.${district}, ต.${subdistrict}`).text(`จ.${province}, อ.${district}, ต.${subdistrict}`);
                        row.find('td').eq(2).attr('title', details).text(details);
                        $('#data-entry-modal').addClass('hidden');
                        $('#activity-form')[0].reset();
                    } else {
                        alert(response.message); // Show error message
                    }
                }
            });
        }
    });

    $('#service-areas-list').on('click', '.delete-button', function () {
        var row = $(this).closest('tr');
        var areaId = row.data('id');
        $.ajax({
            url: `/drivers/delete_harvest_area/${areaId}/`,
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.status === 'success') {
                    row.remove();
                } else {
                    alert(response.message);
                }
            }
        });
    });

    $('#service-areas-list').on('click', '.edit-button', function () {
        let row = $(this).closest('tr');
        let cells = row.children('td');

        let startEndDate = cells.eq(0).text().trim().split(' - ');
        let startDate = startEndDate[0];
        let endDate = startEndDate[1];

        let location = cells.eq(1).attr('title').split(', ');
        let province = location[0].trim().replace('จ.', '');
        let district = location[1].trim().replace('อ.', '');
        let subdistrict = location.slice(2).join(', ').trim().replace('ต.', '');
        let details = cells.eq(2).attr('title').trim();

        $('#start-date').val(startDate);
        $('#end-date').val(endDate);
        $('#province').val(province).change();

        // Wait for province change to load districts
        setTimeout(() => {
            $('#district').val(district).change();

            // Wait for district change to load subdistricts
            setTimeout(() => {
                $('#subdistrict-checkboxes input[name="subdistricts"]').each(function () {
                    if (subdistrict.split(', ').includes($(this).val())) {
                        $(this).prop('checked', true);
                    }
                });
            }, 500);
        }, 500);

        $('#details').val(details);
        $('#edit-index').val(row.index());
        $('#data-entry-modal').removeClass('hidden');
    });

    $('#service-areas-list').on('click', '.truncate-text', function () {
        let fullText = $(this).data('fulltext');
        $('#modal-title').text('ข้อมูลเพิ่มเติม');
        $('#modal-content').text(fullText);
        $('#info-modal').removeClass('hidden');
    });

    let provinces, districts, subdistricts;

    $.when(
        $.getJSON('https://raw.githubusercontent.com/thailand-geography-data/thailand-geography-json/main/src/provinces.json', function (data) { provinces = data; }),
        $.getJSON('https://raw.githubusercontent.com/thailand-geography-data/thailand-geography-json/main/src/districts.json', function (data) { districts = data; }),
        $.getJSON('https://raw.githubusercontent.com/thailand-geography-data/thailand-geography-json/main/src/subdistricts.json', function (data) { subdistricts = data; })
    ).then(function () {
        let provinceSelect = $('#province');
        provinces.forEach(function (province) {
            provinceSelect.append(new Option(province.provinceNameTh, province.provinceCode));
        });

        $('#province').change(function () {
            let provinceId = $(this).val();
            if (provinceId) {
                let filteredDistricts = districts.filter(d => d.provinceCode == provinceId);
                let districtSelect = $('#district');
                districtSelect.empty().append(new Option('เลือกอำเภอ', ''));
                filteredDistricts.forEach(function (district) {
                    districtSelect.append(new Option(district.districtNameTh, district.districtCode));
                });
                $('#district').prop('disabled', false);
            } else {
                $('#district').empty().append(new Option('เลือกอำเภอ', '')).prop('disabled', true);
                $('#subdistrict-checkboxes').empty().prop('disabled', true);
            }
        });

        $('#district').change(function () {
            let districtId = $(this).val();
            if (districtId) {
                let filteredSubdistricts = subdistricts.filter(s => s.districtCode == districtId);
                let subdistrictCheckboxes = $('#subdistrict-checkboxes');
                subdistrictCheckboxes.empty();
                filteredSubdistricts.forEach(function (subdistrict) {
                    subdistrictCheckboxes.append(`
                        <div class="flex items-center mb-2">
                            <input type="checkbox" id="subdistrict-${subdistrict.subdistrictCode}" name="subdistricts" value="${subdistrict.subdistrictNameTh}" class="mr-2">
                            <label for="subdistrict-${subdistrict.subdistrictCode}" class="text-sm text-gray-700">${subdistrict.subdistrictNameTh}</label>
                        </div>
                    `);
                });
                $('#subdistrict-checkboxes').prop('disabled', false);
            } else {
                $('#subdistrict-checkboxes').empty().prop('disabled', true);
            }
        });
    });

    updateOngoingEvents();
    loadHarvestAreas();  // Load harvest areas on page load

    // Initialize Flatpickr for the date fields
    var startDatePicker = flatpickr("#start-date", {
        locale: 'th',
        dateFormat: 'Y-m-d', // รูปแบบวันที่ที่ Django ยอมรับ
        altInput: true,
        altFormat: 'd/m/Y',  // รูปแบบวันที่จะแสดงในอินพุต
        onChange: function(selectedDates, dateStr, instance) {
            endDatePicker.set('minDate', dateStr);
        }
    });

    var endDatePicker = flatpickr("#end-date", {
        locale: 'th',
        dateFormat: 'Y-m-d', // รูปแบบวันที่ที่ Django ยอมรับ
        altInput: true,
        altFormat: 'd/m/Y',  // รูปแบบวันที่จะแสดงในอินพุต
    });

    flatpickr("#event-start", {
        dateFormat: "Y-m-d H:i",
        altFormat: 'd/m/Y H:i',  // รูปแบบวันที่จะแสดงในอินพุต
        enableTime: true,
        time_24hr: true,
        locale: "th",
        onChange: function(selectedDates, dateStr, instance) {
            eventEndPicker.set('minDate', dateStr);
        }
    });

    var eventEndPicker = flatpickr("#event-end", {
        dateFormat: "Y-m-d H:i",
        altFormat: 'd/m/Y H:i',  // รูปแบบวันที่จะแสดงในอินพุต
        enableTime: true,
        time_24hr: true,
        locale: "th"
    });
});

</script>
</body>
</html>
