{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Booking List</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mx-auto mt-10">
        <h2 class="text-xl font-bold mb-4">Booking List</h2>
        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="text-left py-2 px-4">รูป</th>
                    <th class="text-left py-2 px-4">ชื่อผู้จอง</th>
                    <th class="text-left py-2 px-4">ชื่อคนขับ</th>
                    <th class="text-left py-2 px-4">ประเภทรถ</th>
                    <th class="text-left py-2 px-4">จำนวนไร่</th>
                    <th class="text-left py-2 px-4">ที่อยู่</th>
                    <th class="text-left py-2 px-4">รายละเอียด</th>
                    <th class="text-left py-2 px-4">เบอร์โทร</th>
                    <th class="text-left py-2 px-4">วันที่/เวลา</th>
                    <th class="text-left py-2 px-4">สถานะ</th>
                </tr>
            </thead>
            <tbody>
            {% for booking in bookings %}
           
                    <tr>
                        <td class="text-left py-2 px-4"><img src="{{ booking.vehicle.image.url }}" alt="Vehicle Image"></td>
                        <td class="text-left py-2 px-4">{{ booking.fullname }}</td>
                        <td class="text-left py-2 px-4">{{ booking.vehicle }}</td>
                        <td class="text-left py-2 px-4"></td>
                        <td class="text-left py-2 px-4">{{ booking.quantity }}</td>
                        <td class="text-left py-2 px-4">{{ booking.address }}</td>
                        <td class="text-left py-2 px-4">{{ booking.details }}</td>
                        <td class="text-left py-2 px-4">{{ booking.phone }}</td>
                      
                        <td class="text-left py-2 px-4">    
                            {% if booking.appointment_date %}
                                {{ booking.appointment_date }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                        

                        <td class="text-left py-2 px-4">{{ booking.status }}</td>
                        <td class="py-2">
                            {% if  is_driver %}
                                <form method="post" action="{% url 'booking_approval' booking.id %}">
                                    {% csrf_token %}
                                    <input type="datetime-local" name="appointment_date" required>
                                    <button type="submit" name="action" value="approve" class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded">Approve</button>
                                    <button type="submit" name="action" value="reject" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">Reject</button>
                                </form>
                            {% endif %}
                        </td>
                   
                    {% endfor %}
                </tbody>
        </table>
    </div>
</body>

</html>