<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!---Custom CSS File--->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="bg-emerald-600 min-h-screen flex items-center justify-center">
        <div class="container mx-auto w-96 bg-white rounded-lg shadow-lg p-8">
            <header class="text-2xl font-semibold text-center mb-6">เข้าสู่ระบบ</header>
            <form action="{% url 'login' %}" method="post" class="space-y-4">
                {% csrf_token %}

                <label for="username" class="block text-emerald-600">Username:
                    <input type="text" name="username" placeholder="Username" required
                        class="inline-block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-black text-black">
                </label>

                <label for="password" class="block text-emerald-600">รหัสผ่าน :
                    <input type="password" name="password" placeholder="Password" required
                        class="inline-block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-black text-black">
                </label>

                <div class="flex justify-between">
                    <a href="#" class="text-emerald-600 text-sm">ลืมรหัสผ่าน?</a>
                </div>
                <button type="submit"
                    class="block w-full bg-emerald-600 text-white py-2 px-4 rounded-md hover:bg-teal-700 transition duration-300">Login</button>
            </form>
            <div class="text-center mt-4">
                <span class="text-black-600">ยังไม่มีบัญชีผู้ใช้ <a href="{% url 'chooserole' %}"
                        class="font-semibold hover:underline text-emerald-600">ลงทะเบียน</a></span>
            </div>
        </div>
    </div>
</body>

</html>