<!-- driver/add_vehicle.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="flex justify-center items-center h-screen">
    <div class="bg-white rounded-3xl shadow-lg p-6 max-w-md w-full mx-auto justify-center mt-20 border border-10">
        <div class="form">
            <h1 class="text-center text-xl font-semibold mb-6">เพิ่มรถ</h1>
            <div class="w-full h-28 border border-dashed border-gray-300 rounded-lg flex justify-center items-center ">
                <img id="preview" src="{% if existing_vehicle and existing_vehicle.image %}{{ existing_vehicle.image.url }}{% else %}#{% endif %}" alt="Preview" class="object-contain object-center max-w-full max-h-full">
            </div>
            <form enctype="multipart/form-data" method="POST" id="vehicle-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" id="submit-btn" class="button bg-emerald-600 text-white py-1 px-3 rounded-md hover:bg-green-700 transition duration-300 w-full">เพิ่มรถ</button>
            </form>
            {% if existing_vehicle %}
            <div class="flex justify-between" id="button-group">
                <button id="edit-btn" class="bg-yellow-500 hover:bg-yellow-600 text-white py-1 px-3 rounded-md transition duration-300 w-full mr-2">แก้ไข</button>
                <form method="POST" action="{% url 'delete_vehicle' existing_vehicle.id %}" class="w-full ml-2" id="delete-form">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-500 hover:bg-red-700 text-white py-1 px-3 rounded-md transition duration-300 w-full">ลบรถ</button>
                </form>
                <button id="cancel-btn" class="bg-gray-500 hover:bg-gray-600 text-white py-1 px-3 rounded-md transition duration-300 w-full mr-2 hidden">ยกเลิก</button>
                <button type="submit" form="vehicle-form" class="bg-emerald-600 hover:bg-green-700 text-white py-1 px-3 rounded-md transition duration-300 w-full hidden" id="confirm-btn">ยืนยัน</button>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    window.addEventListener("load", () => {
        document.getElementById("id_image").addEventListener("change", showImg)
    })

    function showImg(e) {
        let preview_cover = document.getElementById("preview");
        let img = e.target.files[0]
        preview_cover.src = URL.createObjectURL(img);
    }

    document.addEventListener('DOMContentLoaded', function() {
        const editBtn = document.getElementById('edit-btn');
        const cancelBtn = document.getElementById('cancel-btn');
        const confirmBtn = document.getElementById('confirm-btn');
        const deleteForm = document.getElementById('delete-form');
        const form = document.getElementById('vehicle-form');
        const submitBtn = document.getElementById('submit-btn');

        if (editBtn) {
            editBtn.addEventListener('click', function(e) {
                e.preventDefault();
                form.querySelectorAll('input, select, textarea').forEach(function(input) {
                    input.disabled = false;
                });
                editBtn.classList.add('hidden');
                deleteForm.classList.add('hidden');
                cancelBtn.classList.remove('hidden');
                confirmBtn.classList.remove('hidden');
                submitBtn.classList.add('hidden');
            });

            cancelBtn.addEventListener('click', function(e) {
                e.preventDefault();
                form.querySelectorAll('input, select, textarea').forEach(function(input) {
                    input.disabled = true;
                });
                editBtn.classList.remove('hidden');
                deleteForm.classList.remove('hidden');
                cancelBtn.classList.add('hidden');
                confirmBtn.classList.add('hidden');
          
            });

            form.querySelectorAll('input, select, textarea').forEach(function(input) {
                input.disabled = true;
            });
            confirmBtn.classList.add('hidden');
            submitBtn.classList.add('hidden');
        }
    });
</script>
{% endblock %}



