<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>เพิ่มรายละเอียดรถ</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-2" style="margin-top: 6rem;">
        <div class="flex flex-col max-w-7xl mx-auto bg-white border border-gray-300 rounded-lg shadow-lg">
            <h1 class="text-4xl text-center mb-8 mt-7">ข้อมูลรถเกี่ยวข้าว</h1>
            <div class="w-full md:flex">
                <div class="md:w-1/2 p-6">
                    <div class="relative">
                        <div id="carousel" class="carousel relative">
                            <div class="carousel-inner relative overflow-hidden w-full">
                                {% for detail in details %}
                                <div class="carousel-item absolute opacity-0" style="height:500px;">
                                    {% if detail.image1 %}
                                    <img class="block h-full w-full object-cover" src="{{ detail.image1.url }}" alt="Slide 1">
                                    {% endif %}
                                    {% if detail.image2 %}
                                    <img class="block h-full w-full object-cover" src="{{ detail.image2.url }}" alt="Slide 2">
                                    {% endif %}
                                    {% if detail.image3 %}
                                    <img class="block h-full w-full object-cover" src="{{ detail.image3.url }}" alt="Slide 3">
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            <button id="prev" class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full focus:outline-none">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                                </svg>
                            </button>
                            <button id="next" class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full focus:outline-none">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="md:w-1/2 p-4">
                    <form id="vehicle-detail-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="model" class="block text-sm font-medium text-gray-700">รุ่น :</label>
                            <input type="text" id="model" name="model" value="{{ vehicle.model }}" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-100 focus:border-indigo-500 sm:text-xl" readonly>
                        </div>
                        <div class="mb-4">
                            <label for="power" class="block text-sm font-medium text-gray-700">กำลังเครื่อง :</label>
                            <input type="text" id="power" name="power" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-100 focus:border-indigo-500 sm:text-xl">
                        </div>
                        <div class="mb-4">
                            <label for="image1" class="block text-sm font-medium text-gray-700">เพิ่มรูปภาพ  :</label>
                            <input type="file" id="image1" name="image1" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-100 focus:border-indigo-500 sm:text-xl">
                        </div>
                        <div class="mb-4">
                            <label for="image2" class="block text-sm font-medium text-gray-700">เพิ่มรูปภาพ 2 :</label>
                            <input type="file" id="image2" name="image2" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-100 focus:border-indigo-500 sm:text-xl">
                        </div>
                        <div class="mb-4">
                            <label for="image3" class="block text-sm font-medium text-gray-700">เพิ่มรูปภาพ 3 :</label>
                            <input type="file" id="image3" name="image3" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-100 focus:border-indigo-500 sm:text-xl">
                        </div>
                        <div class="mb-4">
                            <label for="details" class="block text-sm font-medium text-gray-700">รายละเอียดรถ :</label>
                            <textarea id="details" name="details" rows="4" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-100 focus:border-indigo-500 sm:text-xl"></textarea>
                        </div>
                        <div class="flex justify-center mt-6">
                            <button type="submit" id="save-button" class="bg-teal-600 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded-md mx-2">ยืนยัน</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
