<!-- driver/document_status.html -->
{% extends "base.html" %}
{% block flowbite %}
<!-- Flowbite -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
{% endblock %}

{% block booking %}

<h1 class="text-4xl font-bold text-center mt-20 mb-10 text-gray-800">สถานะเอกสาร</h1>

<div class="mb-6 border-b border-gray-300 mx-10">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-styled-tab"
        data-tabs-toggle="#default-styled-tab-content"
        data-tabs-active-classes="text-purple-600 border-purple-600"
        data-tabs-inactive-classes="text-gray-500 hover:text-gray-600 border-transparent hover:border-gray-300"
        role="tablist">
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg focus:outline-none"
                id="pending-tab" data-tabs-target="#pending" type="button" role="tab"
                aria-controls="pending" aria-selected="true">รอดำเนินการ</button>
        </li>
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg focus:outline-none"
                id="approved-tab" data-tabs-target="#approved" type="button" role="tab"
                aria-controls="approved" aria-selected="false">อนุมัติแล้ว</button>
        </li>
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg focus:outline-none"
                id="declined-tab" data-tabs-target="#declined" type="button" role="tab"
                aria-controls="declined" aria-selected="false">ปฏิเสธ</button>
        </li>
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg focus:outline-none"
                id="canceled-tab" data-tabs-target="#canceled" type="button" role="tab"
                aria-controls="canceled" aria-selected="false">ยกเลิกแล้ว</button>
        </li>
    </ul>
</div>

<div id="default-styled-tab-content">
    <!-- รอดำเนินการ -->
    <div class="hidden rounded-lg bg-gray-50 dark:bg-gray-800 mx-10" id="pending" role="tabpanel"
        aria-labelledby="pending-tab">
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white shadow-md rounded-lg text-sm">
                <thead class="bg-gray-100 border-b border-gray-300">
                    <tr>
                        <th class="py-3 px-4 text-left">ลำดับ</th>
                        <th class="py-3 px-4 text-left">วันที่ส่ง</th>
                        <th class="py-3 px-4 text-left">บัตรประชาชน/ใบขับขี่</th>
                        <th class="py-3 px-4 text-left">สำเนาทะเบียนรถ</th>
                        <th class="py-3 px-4 text-left">คนขับคู่กับรถ</th>
                        <th class="py-3 px-4 text-left">หมายเหตุ</th>
                        <th class="py-3 px-4 text-left">สถานะ</th>
                        <th class="py-3 px-4 text-left">การดำเนินการ</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    {% for document in documents %}
                    {% if document.request_status == "รอดำเนินการ" %}
                    <tr class="hover:bg-gray-50">
                        <th scope="row" class="px-4 py-3 text-center font-medium text-gray-800">{{ forloop.counter }}</th>
                        <td class="px-5 py-4 text-gray-600">{{ document.submission_date }}</td>
                        <td class="px-5 py-4 text-center">
                            <a href="{{ document.id_card.url }}" data-lightbox="document-{{forloop.counter}}">
                                <img src="{{ document.id_card.url }}" alt="บัตรประชาชน/ใบขับขี่" class="w-32 h-auto rounded-lg shadow-md mx-auto">
                            </a>
                        </td>
                        <td class="px-5 py-4 text-center">
                            <a href="{{ document.car_registration.url }}" data-lightbox="document-{{forloop.counter}}">
                                <img src="{{ document.car_registration.url }}" alt="สำเนาทะเบียนรถ" class="w-32 h-auto rounded-lg shadow-md mx-auto">
                            </a>
                        </td>
                        <td class="px-5 py-4 text-center">
                            <a href="{{ document.driver_with_car.url }}" data-lightbox="document-{{forloop.counter}}">
                                <img src="{{ document.driver_with_car.url }}" alt="คนขับยืนคู่กับรถ" class="w-32 h-auto rounded-lg shadow-md mx-auto">
                            </a>
                        </td>
                        <td class="px-5 py-4 text-gray-800">{{ document.note }}</td>
                        <td class="text-center font-bold text-red-500">{{ document.request_status }}</td>
                        <td class="px-5 py-4 text-center">
                            <form action="{% url 'cancel_document' document.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-red-700 transition duration-300">ยกเลิก</button>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- อนุมัติแล้ว -->
    <div class="hidden rounded-lg bg-gray-50 dark:bg-gray-800 mx-10" id="approved" role="tabpanel"
        aria-labelledby="approved-tab">
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white shadow-md rounded-lg text-sm">
                <thead class="bg-gray-100 border-b border-gray-300">
                    <tr>
                        <th class="py-3 px-4 text-left">ลำดับ</th>
                        <th class="py-3 px-4 text-left">วันที่ส่ง</th>
                        <th class="py-3 px-4 text-left">วันที่ตอบกลับ</th> <!-- เพิ่มคอลัมน์นี้ -->
                        <th class="py-3 px-4 text-left">บัตรประชาชน/ใบขับขี่</th>
                        <th class="py-3 px-4 text-left">สำเนาทะเบียนรถ</th>
                        <th class="py-3 px-4 text-left">คนขับคู่กับรถ</th>
                        <th class="py-3 px-4 text-left">หมายเหตุ</th>
                        <th class="py-3 px-4 text-left">สถานะ</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    {% for document in documents %}
                    {% if document.request_status == "อนุมัติแล้ว" %}
                    <tr class="hover:bg-gray-50">
                        <th scope="row" class="px-4 py-3 text-center font-medium text-gray-800">{{ forloop.counter }}</th>
                        <td class="px-5 py-4 text-gray-600">{{ document.submission_date }}</td>
                        <td class="px-5 py-4 text-gray-600">{{ document.response_date }}</td> <!-- แสดงวันที่ตอบกลับ -->
                        <td class="px-5 py-4 text-center">
                            <a href="{{ document.id_card.url }}" data-lightbox="document-{{forloop.counter}}">
                                <img src="{{ document.id_card.url }}" alt="บัตรประชาชน/ใบขับขี่" class="w-32 h-auto rounded-lg shadow-md mx-auto">
                            </a>
                        </td>
                        <td class="px-5 py-4 text-center">
                            <a href="{{ document.car_registration.url }}" data-lightbox="document-{{forloop.counter}}">
                                <img src="{{ document.car_registration.url }}" alt="สำเนาทะเบียนรถ" class="w-32 h-auto rounded-lg shadow-md mx-auto">
                            </a>
                        </td>
                        <td class="px-5 py-4 text-center">
                            <a href="{{ document.driver_with_car.url }}" data-lightbox="document-{{forloop.counter}}">
                                <img src="{{ document.driver_with_car.url }}" alt="คนขับยืนคู่กับรถ" class="w-32 h-auto rounded-lg shadow-md mx-auto">
                            </a>
                        </td>
                        <td class="px-5 py-4 text-gray-800">{{ document.note }}</td>
                        <td class="text-green-600 font-bold text-center">{{ document.request_status }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- ปฏิเสธ -->
    <div class="hidden rounded-lg bg-gray-50 dark:bg-gray-800 mx-10" id="declined" role="tabpanel"
        aria-labelledby="declined-tab">
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white shadow-md rounded-lg text-sm">
                <thead class="bg-gray-100 border-b border-gray-300">
                    <tr>
                        <th class="py-3 px-4 text-left">ลำดับ</th>
                        <th class="py-3 px-4 text-left">วันที่ส่ง</th>
                        <th class="py-3 px-4 text-left">วันที่ตอบกลับ</th> <!-- เพิ่มคอลัมน์นี้ -->
                        <th class="py-3 px-4 text-left">บัตรประชาชน/ใบขับขี่</th>
                        <th class="py-3 px-4 text-left">สำเนาทะเบียนรถ</th>
                        <th class="py-3 px-4 text-left">คนขับคู่กับรถ</th>
                        <th class="py-3 px-4 text-left">หมายเหตุ</th>
                        <th class="py-3 px-4 text-left">สถานะ</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    {% for document in documents %}
                    {% if document.request_status == "ปฏิเสธ" %}
                    <tr class="hover:bg-gray-50">
                        <th scope="row" class="px-4 py-3 text-center font-medium text-gray-800">{{ forloop.counter }}</th>
                        <td class="px-5 py-4 text-gray-600">{{ document.submission_date }}</td>
                        <td class="px-5 py-4 text-gray-600">{{ document.response_date }}</td> <!-- แสดงวันที่ตอบกลับ -->
                        <td class="px-5 py-4 text-center">
                            <a href="{{ document.id_card.url }}" data-lightbox="document-{{forloop.counter}}">
                                <img src="{{ document.id_card.url }}" alt="บัตรประชาชน/ใบขับขี่" class="w-32 h-auto rounded-lg shadow-md mx-auto">
                            </a>
                        </td>
                        <td class="px-5 py-4 text-center">
                            <a href="{{ document.car_registration.url }}" data-lightbox="document-{{forloop.counter}}">
                                <img src="{{ document.car_registration.url }}" alt="สำเนาทะเบียนรถ" class="w-32 h-auto rounded-lg shadow-md mx-auto">
                            </a>
                        </td>
                        <td class="px-5 py-4 text-center">
                            <a href="{{ document.driver_with_car.url }}" data-lightbox="document-{{forloop.counter}}">
                                <img src="{{ document.driver_with_car.url }}" alt="คนขับยืนคู่กับรถ" class="w-32 h-auto rounded-lg shadow-md mx-auto">
                            </a>
                        </td>
                        <td class="px-5 py-4 text-gray-800">{{ document.note }}</td>
                        <td class="text-red-600 font-bold text-center">{{ document.request_status }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- ยกเลิกแล้ว -->
    <div class="hidden rounded-lg bg-gray-50 dark:bg-gray-800 mx-10" id="canceled" role="tabpanel"
        aria-labelledby="canceled-tab">
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white shadow-md rounded-lg text-sm">
                <thead class="bg-gray-100 border-b border-gray-300">
                    <tr>
                        <th class="py-3 px-4 text-left">ลำดับ</th>
                        <th class="py-3 px-4 text-left">วันที่ส่ง</th>
                        <th class="py-3 px-4 text-left">วันที่ตอบกลับ</th> <!-- เพิ่มคอลัมน์นี้ -->
                        <th class="py-3 px-4 text-left">บัตรประชาชน/ใบขับขี่</th>
                        <th class="py-3 px-4 text-left">สำเนาทะเบียนรถ</th>
                        <th class="py-3 px-4 text-left">คนขับคู่กับรถ</th>
                        <th class="py-3 px-4 text-left">หมายเหตุ</th>
                        <th class="py-3 px-4 text-left">สถานะ</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    {% for document in documents %}
                    {% if document.request_status == "ยกเลิกแล้ว" %}
                    <tr class="hover:bg-gray-50">
                        <th scope="row" class="px-4 py-3 text-center font-medium text-gray-800">{{ forloop.counter }}</th>
                        <td class="px-5 py-4 text-gray-600">{{ document.submission_date }}</td>
                        <td class="px-5 py-4 text-gray-600">{{ document.response_date }}</td> <!-- แสดงวันที่ตอบกลับ -->
                        <td class="px-5 py-4 text-center">
                            <a href="{{ document.id_card.url }}" data-lightbox="document-{{forloop.counter}}">
                                <img src="{{ document.id_card.url }}" alt="บัตรประชาชน/ใบขับขี่" class="w-32 h-auto rounded-lg shadow-md mx-auto">
                            </a>
                        </td>
                        <td class="px-5 py-4 text-center">
                            <a href="{{ document.car_registration.url }}" data-lightbox="document-{{forloop.counter}}">
                                <img src="{{ document.car_registration.url }}" alt="สำเนาทะเบียนรถ" class="w-32 h-auto rounded-lg shadow-md mx-auto">
                            </a>
                        </td>
                        <td class="px-5 py-4 text-center">
                            <a href="{{ document.driver_with_car.url }}" data-lightbox="document-{{forloop.counter}}">
                                <img src="{{ document.driver_with_car.url }}" alt="คนขับยืนคู่กับรถ" class="w-32 h-auto rounded-lg shadow-md mx-auto">
                            </a>
                        </td>
                        <td class="px-5 py-4 text-gray-800">{{ document.note }}</td>
                        <td class="text-yellow-600 font-bold text-center">{{ document.request_status }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

