<!-- profile_driver.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}
    Profile - Driver
{% endblock %}   
{% block main %}
    <div class="flex justify-center items-center min-h-screen p-4 bg-gray-100 mt-5">
        <div class="bg-white rounded-lg shadow-lg p-6 max-w-md w-full mx-auto border">
            <button onclick="window.history.back();" class="mb-4 text-blue-600 hover:underline focus:outline-none">
                &larr; กลับ
            </button>
            <div class="form">
                <h2 class="text-center text-2xl font-semibold mb-6">ข้อมูลคนขับรถ</h2>
                <div class="mb-4">
                    <label for="first_name" class="block mb-2 font-medium">ชื่อ :</label>
                    <p class="w-full px-4 py-2 border border-gray-300 rounded-md mb-4 focus:outline-none focus:border-emerald-600">{{ driver.first_name }}</p>
                </div>
                <div class="mb-4">
                    <label for="last_name" class="block mb-2 font-medium">นามสกุล :</label>
                    <p class="w-full px-4 py-2 border border-gray-300 rounded-md mb-4 focus:outline-none focus:border-emerald-600">{{ driver.last_name }}</p>
                </div>
                <div class="mb-4">
                    <label for="address" class="block mb-2 font-medium">ที่อยู่ :</label>
                    <p class="border border-gray-300 rounded-md px-4 py-2">{{ driver.address }}</p>
                </div>
                <div class="mb-4">
                    <label for="phone" class="block mb-2 font-medium">เบอร์โทรศัพท์ :</label>
                    <p class="border border-gray-300 rounded-md px-4 py-2">{{ driver.phone }}</p>
                </div>
                <div class="mb-4">
                    <label for="email" class="block mb-2 font-medium">E-mail :</label>
                    <p class="border border-gray-300 rounded-md px-4 py-2">{{ driver.email }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}







