<!-- edit_vehicle.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}
    Edit Vehicle
{% endblock %}

{% block main %}
<div class="container mx-auto mt-8">
    <h1 class="text-3xl font-bold mb-6">แก้ไขรายละเอียดรถ</h1>
    <div class="bg-white p-6 rounded-lg shadow-lg">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">บันทึก</button>
        </form>
    </div>
</div>
{% endblock %}
