asgiref==3.7.2
contourpy==1.2.1
crispy-tailwind==1.0.3
cycler==0.12.1
Django==5.0.2
django-crispy-forms==2.1
django-scheduler==0.10.1
django-tailwind==3.8.0
fonttools==4.51.0
icalendar==5.0.12
kiwisolver==1.4.5
numpy==1.26.4
packaging==24.0
pillow==10.2.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-stdnum==1.20
pytz==2024.1
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
typing_extensions==4.9.0
tzdata==2024.1
